.main-header {
    font-size: 2.5rem;
    color: #F2EFE7;
    text-align: center;
    margin-bottom: 2rem;
    background: linear-gradient(90deg, #3498db, #006A71);
    color: white;
    padding: 1rem;
    border-radius: 10px;
}
.welcome-message {
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 2rem;
    color: #7AC6D2
}

.selection-container {
    background-color: transparent;
    padding: 1.5rem;
    border-radius: 0px;
    box-shadow: 0 0px 0px rgba(0, 0, 0, 0);
    margin-bottom: 2rem;
    height: 0px
}

.selection-header {
    font-size: 0rem;
    font-weight: 0;
    margin-bottom: 0;
    color: #2c3e50;
}

.selection-result {
    background-color: transparent;
    padding: 0.8rem;
    border-radius: 5px;
    margin-top: 0.5rem;
    border-left: 4px solid #3498db;
}

.action-buttons {
    display: flex;
    gap: 1rem;
    margin-top: 2rem;
}

.stButton>button {
    background-color: #3674B5;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    font-weight: 500;
    width: 100%;
    transition: all 0.3s ease;
}

.stButton>button:hover {
    background-color: #2980b9;
    color: #E8C999 !important;
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.cart-button button {
    background-color: #27ae60 !important;
}

.cart-button button:hover {
    background-color: #219653 !important;
    color: #D1F8EF
}

.st-selectbox {
    border-radius: 5px;
}